body{
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

/*CSS and Flex settings for page header*/

.header{
    background-color: #1f2937;
    color: white;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 30px;
}

.header-container{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
    gap: 30px;
}

.header-container h4{
    margin-left: 20px;
    display: flex;
    
}

.header-nav nav{
    font-size: small;
    display: flex;
    flex-shrink: 0;
    gap: 10px;
}

/*CSS and Flex settings for the about section under head*/

.top-about{
    color: white;
    background-color: #1f2937;
    padding: 100px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.media-object{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0px 100px;
}

.med-obj-txt{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex: 1;
}

.media-image{
    background-color: #9b9b9b;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.top-about button{
    padding: 8px 30px;
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    text-align: center;
    font-family: inherit;
    font-weight: 550;
    border-style: none;
}

/*CSS and Flex settings for footer*/

.footer{
    margin-top: auto;
    background-color: #1f2937;
    color: white;
    font-weight: 200;
    font-size: small;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/*CSS and Flex settings for tile*/

.tiles-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-sec-container{
    margin: 0px 300px;
    display: flex;
    gap: 25px;
    display: flex;
}

.tile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882f6;
}